* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    '-apple-system',
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.books-page {
  width: 100%;
  height: 100%;
  padding: 1.375rem 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.categories-outer {
  padding: 2.13rem 6.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
